/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

img {
  width: 400px;
  height: 345px;
}

.dog-card {
    border: solid;
    border-color: #66F2F2;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 30px;
    float: left;
    text-align: center;
    width: 150px;
    height: 370px;
  }

  hr {
  border: dotted black 4px;
  border-bottom: none;
  width: 45%;
  margin: 30px auto;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  /* display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 0px; */
  background-color: rgb(252 99 43 / 1);
}

.header-text{
  margin: 150px;
  margin-top: 70px;
  padding: 40px;
  font-size: 25px;
  background-color: #FA6A74;
  border: solid;
  border-color: black;
}

.mission-text{
  margin: 150px;
  margin-top: 70px;
  padding: 50px;
  font-size: 25px;
  background-color: #FA6A74;
  border: solid;
  border-color: black;
}

.new-dog-form{
  background-color: #8BF5C7;
  margin-left: 1290px;
  margin-right: 10px;
  position: fixed;
  border: solid;
  border-color: black;
}

/* .pooch-button{
  margin-top: 10px;
} */

.home-img{
border: solid;
border-color: black;
}


.about-img{
  border: solid;
border-color: black;
}

.agency-img{
  border: solid;
border-color: black;
}

.dog-card:hover {
    box-shadow: 0 8px 16px 0 rgba(218, 31, 31, 0.685);
  }

  /* .dog-container{
    margin-left: 30px;
  } */

  .search-bar{
    margin-right:30px
  }